<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>比特云测试系统</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url("css/dashboard.css")}}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/test/view">比特云测试</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">仪表盘</a></li>
            <li><a href="#">设置</a></li>
            <li><a href="/auth/logout">退出</a></li>
            <li><a href="#">帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">[用例管理]<span class="sr-only">(current)</span></a></li>
            <li><a href="/test/view">您的用例</a></li>
            <li><a href="/test/add">上传用例</a></li>
            <li><a href="/test/run">执行测试</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">[测试任务] <span class="sr-only">(current)</span></a></li>
            <li><a href="/task/view">任务总览</a></li>
            <li><a href="">报告分析</a></li>
            <li><a href="">报告导出</a></li>

          </ul>
          <ul class="nav nav-sidebar">
              <li><a href="#">[用例设计] <span class="sr-only">(current)</span></a></li>
            <li><a href="">设计用例</a></li>
            <li><a href="">录制用例</a></li>
            <li><a href="">共享用例</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">用户 {{user}}, 您好！</h1>



          <!--<h2 class="sub-header">Section title</h2>-->

             {% block body %} {% end %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{static_url("js/jquery.min.js")}}"></script>



    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <!--<script src="../../assets/js/docs.min.js"></script>-->
    <!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
